/* Basic Style */
body {
  font-family: Lato, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}
.header {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}
@media (max-width:768px) {
  .header {
    text-align: center;
}
}
.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  display: inline-block;
  width: 56%;
  flex-grow: 1;
}
.add-task__form {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li,
h2 {
  list-style: none;
}
input,
button{
  outline: none;
}
button {
  width: 60px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #888;
  background: none;
  border: 0px;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}

/* Heading */
.add-task__title,
.task-list__title {
  margin: 0;
  padding: 30px 0 10px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
  border-bottom: 2px solid #333;
}
input[type="text"] {
  height: 21px;
  margin: 0;
  padding: 0 9px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
}
input[type="text"]:focus {
  color: #333;
}

/* New Task */
.add-task__title {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
li > * {
  vertical-align: middle;
}
input[type="checkbox"] {
  margin: 0 10px;
}
input[type="text"] {
  width: 226px;
}
label.task {
  width: 226px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.del-btn img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.del-btn img:hover {
  transform: rotateZ(0);
}

/* Completed */
#complited label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
li input[type=text] {
  display: none;
}
.edit-mode input[type=text] {
  display: inline-block;
  width: 224px;
}
.edit-mode label {
  display: none;
}